    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="intro-span pink">we are wildcard</h2>
                <p class="col-lg-offset-7">We're a community. </p>
                <p class="col-lg-offset-7">We're POC, LGBTQ+ people, women and disabled people who code in javascript.</p>
                <p class="col-lg-offset-7">We are awesome. </p>
                <p class="col-lg-offset-7">We're meeting other people like us in technology for fun, collaboration, learning and solidarity.</p>
                <p class="col-lg-offset-7">Coding with others has been integral to our coding journeys, and we think that knowing other people like you helps with imposter syndrome and belonging, helping you stay the course in your career or to stick with programming through all the challenges, and to have people around to celebrate our triumphs.</p>
                <p class="col-lg-offset-7">We want wildcard to be a place where everyone can be authentically themselves. We’re here to inspire, encourage and befriend.</p>
            </div>
        </div>
    </section>