    <!-- Code of Conduct Section -->
    <section id="coc" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="intro-span">Code of Conduct</h2>
                    <p>Wildcardjs is dedicated to providing a harassment-free community for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion (or lack thereof), relationship choices, status as a parent, physical and mental ability, education level, political affiliation, social and economic class or technology choices. We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate for any online platform or in any event venue, including talks. Participants violating these rules may be sanctioned or expelled from events without a refund, or banned from online platforms at the discretion of the community organisers.</p>

                        <h3>Harassment includes, but is not limited to:</h3>
                        <ul>
                            <li>
                                Verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion (or lack thereof), relationship choices, status as a parent, physical and mental ability, education level, political affiliation, social and economic class or technology choices.
                            </li>
                            <li>
                                Sexual images in public and online spaces
                            </li>
                            <li>
                                Deliberate intimidation, stalking, or following
                            </li>
                            <li>
                                Harassing photography or recording
                            </li>
                            <li>
                                Sustained disruption of talks or other events
                            </li>
                            <li>
                                Inappropriate physical contact
                            </li>
                            <li>
                                Unwelcome sexual attention
                            </li>
                            <li>
                                Advocating for, or encouraging, any of the above behaviour
                            </li>
                        </ul>
                        <h3>Consequences of Unacceptable Behavior</h3>
                        
                        <p>
                            Unacceptable behavior from any community member, including sponsors and those with decision-making authority, will not be tolerated. Anyone asked to stop unacceptable behavior is expected to comply immediately.
                            
                            If a community member engages in unacceptable behavior, the community organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).
                        </p>
                        
                        <h3>
                            If You Witness or Are Subject to Unacceptable Behavior
                        </h3>
                        
                        <p>
                            If you are subject to or witness unacceptable behavior, or have any other concerns, please notify a community organizer as soon as possible. Additionally, community organizers are available to help community members engage with local law enforcement or to otherwise help those experiencing unacceptable behavior feel safe. In the context of in-person events, organizers will also provide escorts as desired by the person experiencing distress. If not in the context of an in-person event, please contact us at <mailto:hello@wildcardjs.tech>.
                        </p>
                        
                        <h3>
                            Addressing Grievances
                        </h3>
                        
                        <p>
                            If you feel you have been falsely or unfairly accused of violating this Code of Conduct in the context of an in-person event, you should notify one of the event organisers with a concise description of your grievance. Else, you can contact us at <mailto:javascripther@gmail.com>.
                        </p>
                        
                        <h3>Scope</h3>
                        
                        <p>We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues—online and in-person—as well as in all one-on-one communications pertaining to community business.</p>
                        
                        <h3>License and attribution</h3>
                        
                        <p>This code of conduct is a mixture of Berlin Code of Conduct is distributed under a Creative Commons Attribution-ShareAlike license. It is based on the pdx.rb code of conduct, which is distributed under the same license, and  the example policy from the Geek Feminism wiki, created by the Ada Initiative and other volunteers.</p>
                    
                </div>
            </div>
        </div>
    </section>