    <!-- Events Section -->
    <section id="events" class="content-section text-center">
            <div class="download-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2 class="intro-span blue">Meet wildcard</h2>
                        <p>Our first event will be held on the <strong>16th June from 10.30am</strong>!</p>
                        <p>Bring your laptop and hang out with us. Go through your personal projects, bootcamp homework or your latest tutorial.</p>
                        <p>We'll have food, wifi and somewhere for you to charge your electronics.</p>
                        <p>Toilets are gender neutral and step free access to the venue is available.</p>
                        <p><strong>What to expect:</strong></p>
                        <ul>
                            <li>Good vibes.</li>
                            <li>People to pair with.</li>
                            <li>A quiet introvert table if you want to be around people and feel uplifted by their energy but maybe not talk to people too much</li>
                        </ul>
                        <tito-widget event="wildcardjs/coding-hangout"></tito-widget>
                    </div>
                </div>
            </div>
        </section>