    <!-- Events Section -->
    <section id="events" class="content-section text-center">
            <div class="download-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2 class="intro-span blue">Meet wildcard</h2>
                        <p>Our first event will be held on the 16th June!</p>
                        <p>Bring your laptop and hang out with us. Go through your personal projects, bootcamp homework or your latest tutorial.</p>
                        <p>We'll have food, wifi and somewhere for you to charge your electronics.</p>
                        <a href="tito.link" class="blue">Click here to register</a>
                    </div>
                </div>
            </div>
        </section>