    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="header-image" src="/img/cards.png" alt="">
                        <h1>We are <span class="intro-span">wildcard</span></h1>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-arrow-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
