    <!-- Team Section -->
    <section id="team" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="intro-span blue">Team wildcard</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <img src="/img/olu.jpg" alt="olu in red lipstick">
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <p>Olu is a developer at the BBC and loves Javascript, SCSS and Bee and Puppycat.</p>
                    <p>They’ve spoken at non-binary in tech about finding your community.</p>
                    <p>In their spare time, they consume more memes than is advisable, read (but not enough) and try to make cosmetics.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>You know how I've been saying 'team' and 'we'? It is just me (Olu) and a bunch of encouragement at the moment!</p>
                    <p>If you'd like to get involved, hit me up on Twitter, or send an email.</p>
                </div>
            </div>
        </section>